  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Gadget</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Login", sign_in_with_census_path%></li>
      </ul>
    </div>
  </nav>
        
